/* Need to initial variables as well */
body {
    background-color:#0f0f0f;
    color:#f4f3ee;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button  {
    background-color:#5398be;
    color:#f4f3ee;
}

header {

}

nav {
    display:flex;
    gap: 1rem;
    text-decoration: none;
}

main {

}

footer {

}

