/* Need to initial variables as well */
body {
    background-color:#0f0f0f;
}

* {
   /*Add the reset stuff here*/ 
}

a, button  {
    background-color:#5398be;
    color:#f4f3ee;
}

header {

}

main {

}

footer {

}

